*{
  font-family: 'Nunito', sans-serif ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}


body{
  font-family: 'Nunito', sans-serif ;
 
}

/* header styling */
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.navigation li {
  display: inline-block;
  padding: 0px 20px;
} 

.navigation a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.navigation li a:hover{
  color: #000;

}

.school{
  margin-right:auto ;
  font-size: 30px;
  font-weight: 250;
}


header span{
  color:#EC4067 ;
}

/* button styling */

.btn1{
  margin-left: 30px;
}


.btn-block{
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  font-size: 17px;
  cursor: pointer;
  background-color: #EC4067;
  color: white;
  border-radius: 7px;

}

.btn-clear{
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  font-size: 17px;
  cursor: pointer;
  background-color: white;
  color: #EC4067;
  border-radius: 0px;
  border-color: #EC4067;

}

/* styling for first container div */

.container1{
  margin: auto;
  padding:100px 300px;
  display: flex;
}

.div-a{
  float: left;
  width:2%;
  padding:50px;
  
}

.div-a h3{
  font-weight: 1px;

}

.h1a{
  color: #EC4067;
  font-weight: 2;
}

.img1{
  width: 350px;
  height: 270px;
}

#img1{
  float: right;
  width: 50%;
  padding: opx 40px;

}

.stories {
  padding: 45px 280px;
}

#stories{ 
  font-size: x-small;
  font-weight: 100;

}

/* styling for 2nd container div */


.container2{
  margin: auto;
  padding:0px 270px;
  display: flex;
}


.div-b{
  float: right;
  width:30%;
  padding:50px;
  
}


.img2{
  float: left;
  width: 50%;
  padding: 10px 20px 40px;

  
}

#img2{
  
  width: 500px;
  height: 350px;

}

mark{
  color: rgba(0, 0, 0, 0.3);
}

