*{
  font-family: 'Nunito', sans-serif ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}


body{
  font-family: 'Nunito', sans-serif ;
 
}

/* header styling */
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.navigation li {
  display: inline-block;
  padding: 0px 20px;
} 

.navigation a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.navigation li a:hover{
  color: #000;

}

.school{
  margin-right:auto ;
  font-size: 30px;
  font-weight: 250;
}


header span{
  color:#EC4067 ;
}

/* button styling */

.btn1{
  margin-left: 30px;
}

.btn-block:hover {
  color: rgba(250, 250, 250, 0.6);


}
.btn-clear :hover{
  color: rgba(250, 250, 250, 0.6);

}

.btn-block{
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  font-size: 17px;
  cursor: pointer;
  background-color: #EC4067;
  color: white;
  border-radius: 7px;
  

}

.btn-clear{
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  font-size: 17px;
  cursor: pointer;
  background-color: white;
  color: #EC4067;
  border-radius: 0px;
  border-color: #EC4067;

}

/* styling for first container div */

.container1{
  margin: auto;
  padding:100px 300px;
  display: flex;
}

.div-a{
  float: left;
  width:2%;
  padding:50px;
  
}

.div-a h3{
  font-weight: 1px;

}

.h1a{
  color: #EC4067;
  font-weight: 2;
}

.img1{
  width: 350px;
  height: 270px;
}

#img1{
  float: right;
  width: 50%;
  padding: opx 40px;

}

.stories {
  padding: 45px 280px;
}

#stories{ 
  font-size: x-small;
  font-weight: 100;

}

/* styling for 2nd container div */


.container2{
  margin: auto;
  padding:0px 270px;
  display: flex;
}


.div-b{
  float: right;
  width:30%;
  padding:50px;
  
}


.img2{
  float: left;
  width: 50%;
  padding: 10px 20px 40px;

  
}

#img2{
  
  width: 500px;
  height: 350px;

}

mark{
  color: rgba(0, 0, 0, 0.3);
}

/* styling for 3rd container div */
.container3{
  padding:70px 220px;
  margin: auto;
  display: flex;
}


.div-c{
  float: left;
  width:40%;
  padding:0px 65px;
  text-align: left;
  
}

.img3{
  width: 370px;
  height: 300px;
}
 
#img3{
  justify-content: flex-end;
  padding-left: 90px;

}

/* styling for 4th container div */
.container4{
  padding:70px 277px;
  margin: auto;
  display: flex;
}


.div-d{
  float: right;
  width:30%;
  padding:0px 65px;
  text-align: left;
  
}

#img4{
  flex: left;
  
  
}
 
.img4{
  width: 500px;
  height: 300px;

}
.tech{
  padding:70px 240px;
  font-weight: 100;
   
}
#tech{
  font-weight: 100;
  font-size: x-small;
}

/* styling the 5th container div */

.container5{
  padding:70px 240px;
  margin: auto;
  display: flex;
}

.tm-images{
  width: 250px;
  height: 199px;
}

.tm{
  color: #EC4067;
}

.mentors{
  padding: 0px 30px;
}


/* styling the 6th container div */
.container6{
  padding: 70px 265px;
}

.bike{
  color: #EC4067;
  font-weight: 1;
}

.div-e{
  float: left;
  width: 30%;
}

#img9{padding: 0px 100px;
  
}

.img9{
  width: 700px;
  height: 360px;
}

.weight{
  font-size: x-small;
  font-weight: 100;
}

/* styling final container */

.container7{
  padding: 70px 265px;
  font-size: medium;

}


.contact{
  color: #EC4067;
}


#contact{
  text-decoration: none;
  color: #EC4067;
}

/* styling footer */



#footer{
  text-align: center;
  vertical-align:center ;
  padding-top: 20px;
 
}

.footer{
  display: block;
  background-color:rgba(230, 230, 230, 0.2);
  width: 100%;
  padding: 30px;
  position: relative;

}


